@page
@inject SchedulerService _schedulerService;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var services = (Services) Request.HttpContext.Items[typeof(Services)];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@await _schedulerService.GetSchedulerInfo(services)</p>
</div>